{% autoescape off %}
<p>You're receiving this email because you requested a password reset for your user account at Hosipoa.<br/>

</p>
<p>
To initiate the password reset process, click the link below:<br/>
</p>

<a href="https://hosipoa.lysofts.co.ke/auth/change-password?ID={{uid}}&token={{token}}" style="padding:10px 20px; color:#FFF; background-color:#0d4402; text-decoration:none; border-radius:5px; margin:20px 0px">Reset Password</a>

<p>
    Your username, in case you've forgotten: {{ user.get_username }}
</p>

<p>If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.</p>

<spa>Sincerely,</spa><br/>
<b>The Lysofts Team</b>
{% endautoescape %}